{% extends 'base.html' %}
{% from "helpers/blog_formhelpers.html" import render_field %}
{% block content %}
{% block css %}
<link href="{{ url_for('static',filename='css/sign.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/footer.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../../static/css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
<div class="row justify-content-center bg-light">
    <div class="col-md-4 py-5">
        <form action="" method="post">
            {{ forms.csrf_token}}
            <div class="form-group">
                {{ render_field(forms.username) }}
            </div>
            <div class="form-group">
                {{ render_field(forms.email) }}
            </div>
            <div class="form-group">
                {{ render_field(forms.first_name) }}
            </div>
            <div class="form-group">
                {{ render_field(forms.last_name) }}
            </div>
            <div class="form-group">
                {{ render_field(forms.phone_number) }}
            </div>
            <div class="form-group">
                {{ render_field(forms.password) }}
            </div>
            <input class="btn btn-secondary w-100" type="submit" value="Sign up">
        </form>
    </div>
</div>





{% endblock %}