{% extends 'base.html' %}
{% block title %}User page{% endblock %}
{% block content %}
    <section>
            <div class="row pt-3">
                <div class="col-12">
                    <div class="row pb-3">
                        {% for product in all_products %}
                        <div class="col-4 pb-3">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ product.image }}" class="card-img-top" style="height: 250px;" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{product.title}}</h5>
                                  <p>{{product.city_id}}</p>
                                  <p class="card-text pb-2">{{product.short_description}}</p>
                                  <a href="/detail/{{product.id}}" class="btn btn-primary w-100 detail-button rounded-0">Detail page</a>
                                </div>
                              </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>

    </section>
 {% endblock %}